<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/cart.css">
    <link rel="stylesheet" href="../../style/Loader.css">
</head>

<body>
    {{>Loader}}
    <div class="main-section">
        <h2>Cart Items</h2>
        {{#each arr}}
        {{>CartCard productId=this.productId productTitle=this.productTitle productMRP=this.productMRP
        productImage=this.productImage
        productQuantity=this.qty cartItemId=this.cartItemId}}
        {{/each}}

        <hr>
        <div id="cartSummary">
            <h4>Cart Summary</h4>
            {{#each arr2}}
            <h6><span>Products Cost : </span><span>{{this.totalPrice}}</span></h6>
            <h6>Shipping Charges : <span>{{this.shippingCharge}}</span></h6>
            <h6>Total : <span id="gross">{{this.gross}}</span></h6>
            {{/each}}
            <div>
                <input type="button" onclick="handleCheckout()" id="payBtn" value="Checkout Now">
            </div>
        </div>
    </div>
</body>
<script>
    let gross = document.getElementById('gross');
    let payBtn = document.getElementById('payBtn');
    if (gross.innerText == 0) {
        //disabling button if their is no item added
        payBtn.disabled = true;
    }
</script>
<script src="../../script/cart.js"></script>
<script src="../../script/buyBtn.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>