<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookish - Old Book Marketplace</title>
    <link rel="stylesheet" href="/../../style/productListingStatus.css">
</head>

<body>
    <div class="container">
        <div class="info"> <img src="../../images/success.gif" alt="success.gif"> Product Listing SuccessFull</div>
    </div>
</body>

</html>