<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookish - Signup</title>
    <link rel="shortcut icon" href="../../images/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../../style/login-signup.css">
    <link rel="stylesheet" href="../../style/modal.css">

</head>

<body>

    {{>ModalWindow}}

    <div class="main-Block">
        <div class="block-left"><img src="../../images/register.png" id="register-img" alt="">
        </div>
        <div class="block-right">
            <h2>Create Account</h2>
            <form id="signupForm" class="main-form">

                <label for="name">Username</label>
                <input type="text" id="name" name="userName" class="r-input" autocomplete="name">


                <label for="email">Email</label>
                <input type="text" id="email" name="userEmail" class="r-input">

                <label for="Password">Password</label>
                <input type="password" class="r-input" name="userPassword" id="Password" autocomplete="new-password">

                <label for="cPassword">Confirm Password</label>
                <input type="password" class="r-input" name="cPassword" id="cPassword" autocomplete="new-password">

                <button type="submit" id="smt-btn" class="primary-btn">Signup</button>
            </form>
            <p>or</p>
            <p>Existing user?<a href="/login">Login</a></p>
        </div>
    </div>
    <script src="../../script/signup.js"></script>
</body>

</html>