<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../style/dashboard.css">
</head>

<body>
    <div id="main">
        {{>Dash}}
        <div class="right-section-details">
            <h1>User Details</h1>
            <ul>
                <li class="user-detail-items">Username <span class="colon-space">:</span> <span id="userName"
                        class="user-detail-value">Kartik
                        Bhardwaj</span></li>
                <li class="user-detail-items">UserEmail <span class="colon-space">:</span> <span id="userEmail"
                        class="user-detail-value">Kb@gmail.com</span></li>
            </ul>

        </div>
    </div>
</body>

</html>