<div class="cart-item-cards-wrapper">
    <div class="cart-item-card">
        <div class="img-frame"><img src="../../images/examplebook.jpg" alt=""></div>
        <div class="card-content">
            <h2 class="title">ncert - 20 year old book</h2>
            <p>Category : <span id="category">Study</span></p>
            <p>Price : &#8377;<span id="price">200</span></p>
            <div class="btn-wrapper">
                <button class="card-btn buy-btn">Buy</button>
                <button class=" card-btn remove-btn">Remove</button>
            </div>
        </div>
    </div>
</div>