<div class="left-section">
    <img src="../../images/Bookish1.png" width="100%" height="20%" id="dashboard-img" alt="">
    <ul>
        <li><a href="/dashboard/userdetails">User Details</a></li>
        <li><a href="/dashboard/listedbooks">Listed Books</a></li>
    </ul>
</div>