<footer>
    <div class="footer-main">
        <div class="footer-common-style-component" id="footer-quickLinks-column">
            <h2 class="primary-heading footer-components-headings">Quick Links</h2>
            <ul>
                <li class="footer-components-list"><a class="footer-components-list-links" href="#">Buy</a></li>
                <li class="footer-components-list"><a class="footer-components-list-links" href="#">Sell</a>
                </li>
                <li class="footer-components-list"><a class="footer-components-list-links" href="#">Donate</a>
                </li>
            </ul>
        </div>
        <div class="footer-common-style-component" id="footer-Connect-column">
            <h2 class="primary-heading footer-components-headings">Connect Further</h2>
            <ul>
                <li class="footer-components-list"><a class="footer-components-list-links" href="#">Twitter</a>
                </li>
                <li class="footer-components-list"><a class="footer-components-list-links" href="#">Instagram</a>
                </li>
                <li class="footer-components-list"><a class="footer-components-list-links" href="#">Facebook</a>
                </li>
            </ul>
        </div>
        <div class="footer-common-style-component" id="footer-FAQ-column">
            <h2 class="primary-heading footer-components-headings">FAQ's</h2>
            <li class="footer-components-list"><a class="footer-components-list-links" href="#">Read</a></li>
        </div>
    </div>

    <div id="copyright">
        &copy; 2022 || All Rights Reserved by Bookish.in
    </div>
</footer>