<div id="navigation">
    <div id="menu" onclick="onClickMenu()">
        <div class="bar" id="bar1"></div>
        <div class="bar" id="bar2"></div>
        <div class="bar" id="bar3"></div>
    </div>
    <ul class="nav" id="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Buy</a></li>
        <li><a href="#">Sell</a></li>
        <li><a href="#">Inventory</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
        <form>
            <input type="text" id="search-box" placeholder="Search Here">
            <button id="search-btn">Search</button>
        </form>
    </ul>
</div>