<div id="navigation">
    <div id="menu" onclick="onClickMenu()">
        <div class="bar" id="bar1"></div>
        <div class="bar" id="bar2"></div>
        <div class="bar" id="bar3"></div>
    </div>
    <ul class="nav" id="nav">
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/">Buy</a></li>
        <li><a href="http://localhost:3000/sell">Sell</a></li>
        <li><a href="http://localhost:3000/products">Inventory</a></li>
        <li><a href="http://localhost:3000/dashboard/userdetails">Dashboard</a></li>
        <li><a href="http://localhost:3000/login">Login</a></li>
        <li><a href="http://localhost:3000/signup">Signup</a></li>

    </ul>
</div>