<div class="listed-book-card">
    <div class="img-frame">
        <img src="../../images/examplebook.jpg" alt="product img">
    </div>
    <div class="card-content">
        <h3 class="card-title">Ncert Physics - 2 months old </h3>
        <p class="category">Category : <span class="category">Study</span> </p>
        <p class="price">Price : &#8377; <span class="price">200</span></p>
        <div class="btn-wrapper">
            <button class="card-btn"
                style="background-color: blue;  border-top-left-radius: 2em;border-bottom-left-radius: 2em;">Edit
                <i class="fa-solid fa-pen-to-square"></i></button>
            <button class="card-btn"
                style="background-color: red; border-top-right-radius: 2em;border-bottom-right-radius: 2em;">Delete
                <i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
</div>