<nav class="navbar">
    <div class="rightNav">
        <div class="inside-left">
            <img src="../../images/Bookish1.png" height="40px" alt="logo">
        </div>
        <div class="inside-right">
            <ul>
                <li class="navItems"><a href="/">Buy</a> </li>
                <li class="navItems"><a href="/sell">Sell</a> </li>
                <li class="navItems"><a href="#">Donate</a> </li>
            </ul>
        </div>
    </div>
    <div class="leftNav">
        <div id="search-cont">
            <form action="#">
                <input type="text" id="search-box" placeholder="Search Here">
                <button type="submit" id="search-btn">Search</button>
            </form>
        </div>
        <div id="logo-cont">
            <img src="../../logo/profile.png" height="30px" width="30px" alt="profile">
            <img src="../../logo/cart.png" height="30px" width="30px" alt="cart">
        </div>
    </div>
</nav>
<nav class="navbar" id="sub-nav">
    <!-- <div id="sub-nav-content"> -->
    <ul id="sub-nav-Items-collection">
        <li class="sub-nav-Items"><a href="#Engineering">Engineering</a></li>
        <li class="sub-nav-Items"><a href="#others">Medical</a></li>
        <li class="sub-nav-Items"><a href="#others">Law</a></li>
        <li class="sub-nav-Items"><a href="#NCERT">NCERT</a></li>
        <li class="sub-nav-Items"><a href="#competetive-Exams">Competetive Exams</a></li>
        <li class="sub-nav-Items"><a href="#others">Others</a></li>
    </ul>
    <!-- </div> -->
</nav>