{{!-- <header>
    <nav class="navbar">
        <div class="rightNav">
            <div class="inside-left">
                <img src="./images/Bookish1.png" height="40px" alt="logo">
            </div>
            <div class="inside-right">
                <ul>
                    <li class="navItems"><a href="/">Buy</a> </li>
                    <li class="navItems"><a href="/sell">Sell</a> </li>
                    <li class="navItems"><a href="#">Donate</a> </li>
                </ul>
            </div>
        </div>
        <div class="leftNav">
            <div id="search-cont">
                <form action="#">
                    <input type="text" id="search-box" placeholder="Search Here">
                    <button type="submit" id="search-btn">Search</button>
                </form>
            </div>
            <div id="logo-cont">
                <img src="./logo/profile.png" height="30px" width="30px" alt="profile">
                <img src="./logo/cart.png" height="30px" width="30px" alt="cart">
            </div>
        </div>
    </nav>
</header> --}}
<nav class="navbar">
    <div class="rightNav">
        <div class="inside-left">
            <img src="../../images/Bookish1.png" height="40px" alt="logo">
        </div>
        <div class="inside-right">
            <ul>
                <li class="navItems"><a href="/">Buy</a> </li>
                <li class="navItems"><a href="/sell">Sell</a> </li>
                <li class="navItems"><a href="/products">Inventory</a> </li>
            </ul>
        </div>
    </div>
    <div class="leftNav">
        <div id="logo-cont">

            <ul id="nav-logo-wrapper">
                <li id="nav-user"> <i class="fa-solid fa-user nav-logo"></i>
                    <div class="sub-menu">
                        <ul id="scrollListPack">
                            {{!-- <li><a href="/login" class="sub-menu-item" id="sub-menu-item1"><i
                                        class="fa-solid fa-right-to-bracket list-icon" style="margin-right: 0.2em;"></i>
                                    login</a>
                            </li>
                            <li><a href="/signup" class="sub-menu-item" id="sub-menu-item2"><i
                                        class="fa-solid fa-user-plus list-icon"
                                        style="margin-right: 0.2em;"></i>Signup</a></li>
                            <li><a href="/dashboard/userdetails" class="sub-menu-item" id="sub-menu-item3"><i
                                        class="fa-solid fa-user list-icon"></i></i>Dashboard</a>
                            </li> --}}
                        </ul>
                    </div>
                </li>
                <li> <a href="/cart"><i class="fa-solid fa-cart-shopping nav-logo"></i></a></li>
            </ul>


            {{!-- <img src="../../logo/profile.png" height="30px" width="30px" alt="profile">
            <img src="../../logo/cart.png" height="30px" width="30px" alt="cart"> --}}
        </div>
    </div>
</nav>