<section id="singleProductPage">
    {{!-- <div id="leftpart">
        <img src="../../images/cpp.jpg" height="350px" alt="product img">
    </div>
    <div id="rightpart">
        <i class="fa-solid fa-xmark" onclick="handleCloseBtn()"></i>
        <h2 id="productTitle"> <span>Product Title : </span> C ++ - Begineer to Advanced</h2>
        <h4 id="productCategory"> <span>Product Category : </span>Engineering</h4>
        <p id="productDescription"><span>About Product : </span> Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Perferendis dolores nemo eum ducimus nisi culpa at, minus, cumque ipsam omnis ullam deserunt sapiente
            dolorem? Quam vitae doloremque earum maxime repudiandae!</p>
        <h4 id="actualPrice"><span>Actual Price : </span> 450</h4>
        <h4 id="discountedPrice"><span>Discounted Price : </span> 350</h4>
        <button id="buyBtn" class="primary-btn">Buy</button>
        <button id="addToCartBtn" class="primary-btn">Add To cart</button>
    </div> --}}
</section>