<div id="updateModal">
    <h2>Update Details</h2>
    <form action="/" id="updateForm">
        <input type="text" name="productTitle" id="productTitle" placeholder="Product Title">
        <input type="number" name="productMRP" id="productMRP" placeholder="Product MRP">
        <input type="text" name="productCategory" id="productCategory" placeholder="Product Category">
        <textarea name="productDescription" id="productDescription" cols="30" rows="10"
            placeholder="Product Description"></textarea>
        <input type="button" id="smtBtn" style="background-color: blue; color:white; cursor:pointer;" value="Update"
            onclick="updateBtn()">
        <button type="reset" style="background-color: red; color:white; cursor:pointer;">Reset</button>
    </form>
</div>