/* ************************************************************************************************************/
/* *****************************************STYLE FOR MODAL WINDOW*********************************************/
/* ************************************************************************************************************/

.modalWindow {
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    visibility: visible;
    height: 3em;
    margin-bottom: 2em;
}

#information {
    font-size: 1.2rem;
    padding: 0.5em;
    font-weight: bold;
    font-family: monospace;
    margin: 0;
}