/* ************************************************************************************************************/
/* *****************************************STYLE FOR MODAL WINDOW*********************************************/
/* ************************************************************************************************************/
.danger {
    background-color: red;
}

.modalWindow {
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

#information {
    font-size: 1.5rem;
    padding: 1em;
    font-weight: bold;
    font-family: monospace;
}