* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #12c06a;
}

.container {
    border: 0.9em solid white;
    padding-right: 2em;
    border-radius: 0.5em;
}

.info {
    display: flex;
    align-items: center;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: monospace;
}

.info>img {
    height: 30vh;
}