* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

}

body {
    background-color: #eaeded;
    scroll-behavior: smooth;
}


.navbar {
    /* border: 2px solid black; */
    display: flex;
    font-size: 1.4rem;
    background-color: #0F1111;
    padding: 0.3em 0;
    border-bottom: 1px solid white;
}

.rightNav {
    display: flex;
    width: 50%;
    align-items: center;
}

.inside-left {
    width: 30%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
}

.inside-left>img {
    cursor: pointer;
}

.inside-right {
    width: 70%;
    /* border: 1px solid red; */

}

.inside-right>ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.leftNav {
    display: flex;
    width: 50%;
    align-items: center;
}

.navItems {
    border-radius: 0.3em;
    padding: 0.5em 2em;
    cursor: pointer;
    transition: all 0.2s ease-in;

}

.navItems:hover {
    background-color: rgb(41, 36, 36);
    /* border: 1px solid white; */
    box-sizing: border-box;
}

.navItems>a {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

#search-cont {
    width: 70%;
    /* border: 1px solid violet; */
    display: flex;
    justify-content: flex-end;
}

#search-box {
    padding: 0.2em 4.5em;
    border: 2px solid violet;
    outline: none;
    font-size: 1.4rem;
    width: 38%;
    color: grey;
}

#search-btn {
    padding: 0.32em 2em;
    color: white;
    background-color: violet;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
}

#logo-cont {
    width: 20%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
}

#logo-cont>img {
    margin-right: 1em;
    cursor: pointer;
}

#sub-nav {
    justify-content: center;
    padding: 1em 0;
}

#sub-nav-Items-collection {
    display: flex;
    background-color: #162b2b;
    width: 69%;
    justify-content: space-around;
}

.sub-nav-Items {
    list-style: none;
    padding: 1em;
}

.sub-nav-Items>a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    border: 1px solid white;
    padding: 0.5em 1em;
}



.banner-area {
    display: flex;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    transition: all 3.5s ease-in;
}

.banner-navigation {
    display: flex;
    position: relative;
    top: -37px;
    justify-content: center;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    margin-right: 4em;
    cursor: pointer;
}

.dot:hover {
    transform: scale(1.5);
}

/* //main sections */

#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featured-section {
    background-color: white;
    /* height: 30em; */
    width: 95%;
    padding: 2em;

}

.sub-sections {
    background-color: white;
    /* height: 30em; */
    width: 95%;
    padding: 2em;
    margin-bottom: 2em;
}

.card-wrapper {
    display: flex;
    margin-top: 3.5em;
    /* flex-wrap: wrap; */
}

.cards {
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 1.2em;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.cards:hover {
    transform: scale(1.1);
}

.banner-2 {
    margin-bottom: 2em;
    width: 97.8%;
}



footer {
    padding: 0 2em;
    background-color: black;
    padding-top: 5em;
}

.footer-main {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3.5em;
}

.footer-components-list {
    list-style: none;
    margin-bottom: 1em;
}


.footer-components-headings {
    color: white !important;
    border-bottom: 1px solid navy;
    margin-bottom: 2em;
}

.footer-components-list-links {
    text-decoration: none;
    color: #d9d2d2;
    font-size: 1.45rem;
}

.footer-components-list-links:hover {
    color: white;
    border-bottom: 1px solid navy;
}


#copyright {
    color: white;
    border-top: 1px solid white;
    text-align: center;
    margin-top: 0.5em;
    padding: 1em;
}


/* Sellers-form style */
#sellers-form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5em 0em; */
    padding-top: 0;
}

#background-video {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #0F1111;
    position: absolute;
    top: 6.7%;
}

#video-wrap {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 12%, rgba(0, 0, 0, 0.8018557764902836) 41%, rgba(0, 0, 0, 0.49933476808692223) 64%);
    height: 100vh;
    width: 100%;
    z-index: 2;
}

.form-wrap {
    width: 50%;
    /* border: 1px solid red; */
    position: absolute;
    top: 8%;
    left: 3%;
    z-index: 3;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 2em 0em;
}

.form-input>label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.45rem;
    font-weight: 600;
    margin-bottom: 0.2em;
    cursor: pointer;
    color: white;
}

.form-input>input,
.form-input>select,
.form-input>textarea {
    padding: 0.5em;
    font-size: 1.5rem;
    color: gray;
    outline: none;
    border-radius: 0.25em;
    cursor: pointer;
    border: 2px solid violet;
    box-sizing: border-box;
    cursor: text;
}

.product-category-option {
    font-size: 1em;
}

.form-input>textarea {
    margin-bottom: 0;
}

#product-submit-btn {
    background-color: rgb(0, 163, 0);
    cursor: pointer;
    width: 49.8%;
}

#product-reset-btn {
    background-color: red;
    cursor: pointer;
    width: 49.83%;
}

#form-img-div {
    border: 1px solid rgb(255, 255, 255);
    padding: 4em;
}

/* utility classes */

.primary-heading {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    /* color: white; */
}



.primary-links {
    font-size: 1.2rem;
    margin-left: 10%;
    border: 1px solid navy;
}

.primary-btn {
    padding: 0.62em 2em;
    color: white;
    background-color: violet;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
}

.brand-color {
    color: violet;
}

#nav-logo-wrapper {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-logo {
    font-size: 20px;
    color: white;
}

#nav-user {
    cursor: pointer;
}

.sub-menu {
    display: none;
    border: 1px solid white;
    box-sizing: border-box;
    z-index: 5;
    position: absolute;
    background-color: #0f1111;
}

.sub-menu>ul>li {
    list-style: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#scrollListPack>li {

    transition: all 0.2s ease-in-out;
}

#scrollListPack>li:hover {

    background-color: violet;
}

.list-icon {
    font-size: 1.2em;
    margin: 0 0.5em;
}

.sub-menu-item {
    text-decoration: none;
    color: white;
    margin: 0.5em 0;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    font-size: 1.6em;
    font-weight: bold;
}



#sub-menu-item1 {
    padding: 0.4em 5.78em 0.3em 0;
}

#sub-menu-item2 {
    padding: 0.4em 4.8em 0.3em 0;
}

#sub-menu-item3 {
    padding: 0.4em 3.2em 0.3em 0;
}

#nav-user:hover .sub-menu {
    display: block;
}

/****************************************************************************************************************************************/
/************************************************ SINGLE PRODUCT PAGE CSS ***************************************************************/
/***************************************************************************************************************************************/

#singleProductPage {
    border: 3px solid red;
    height: 49vh;
    position: fixed;
    z-index: 200;
    left: 20rem;
    background-color: whitesmoke;
    display: none;
    max-width: 60vw;
    padding: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

#leftpart {
    flex-basis: 50%;
    text-align: center;
    align-self: center;
}

#rightpart {
    line-height: 2rem;
    padding: 1rem 2rem;
    align-self: center;
    font-family: 'Nunito', sans-serif;
}

#rightpart>i {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 2.3em;
    cursor: pointer;
}

#rightpart>h2,
#rightpart>h4,
#rightpart>p {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-family: 'Nunito', sans-serif;
}

#rightpart>h2>span,
#rightpart>h4>span,
#rightpart>p>span {
    color: red;
    font-size: 1.7rem;
    font-weight: bold;
}

#rightpart>h2 {
    font-size: 2rem;
}

#buyBtn {
    background-color: green;
    width: 10em;
}

#addToCartBtn {
    background-color: blue;
    width: 10em;
}

/****************************************************************************************************************************************/
/****************************************************** PRODUCT PAGE CSS ***************************************************************/
/***************************************************************************************************************************************/


#productCardSpace {
    min-height: 100vh;
    background-color: white;
    width: 96vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-btn {
    width: 100%;
    margin-bottom: 0.2em;
}

.card-content>h3,
.card-content>p {
    font-size: 20px;
    margin-bottom: 0.6em;
}

.card-content>p>span {
    font-size: 1em;
}

.card-btn {
    font-size: 1.4em;
    font-weight: bold;
}



.actualPrice {
    color: red;
}

.listed-book-card {
    margin: 2em 0;
    max-height: 44em;
}

#notFound {
    font-size: 801%;
    margin: auto;
    color: #eaeded;
    text-shadow: 2px 3px 3px #00000038;
}

/********SWAL POPUP**************/
.swal2-container.swal2-center>.swal2-popup {
    font-size: 1.2rem;
    align-self: flex-start;
}